---
import { ThemeSwitcher } from './react/ThemeSwitcher'
---

<div class="theme-select-wrapper">
  <ThemeSwitcher client:load />
</div>

<style>
  .theme-select-wrapper {
    display: flex;
    align-items: center;
  }
</style>
